body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

#person_name{
  height: 9vh;
  text-transform: capitalize;
  font-size: large;
  width: 20vw;
  border: 2px solid rgb(187, 16, 221) ;
}
#feedback,#suggest{
  overflow: scroll;
  font-size: large;
  height: 25vh;
  width: 30vw;
  text-transform: capitalize;
  border: 2px solid rgb(187, 16, 221) ;
}
nav {
  background-color: green;
  color: black;
  width: 100vw;
  height: 8vh;
}

ul {
  display: flex;
  float: right;
  list-style-type: none;
}
#devs{
  display: flex;
  
  list-style-type: none;
}
li {
  width: auto;
  height: auto;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: rgb(225, 226, 226);
  background-color: rgb(175, 9, 134);
  padding: 10px;
}

#name {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: cursive;
  transform: translate(1vw, 1vh);
  animation: come 2s ease-in 1 alternate-reverse;
  overflow: visible;
}
h3{
  color: white;
}
.content{
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
.box{
  width: 45vw;
  height: 30vw;
 display: flex;
 float: left;
  border: 1px solid white;
  overflow-y: scroll;
}

.box ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
  float: left;
}

.box ul a{
  background-color: blueviolet;
  color: white;
}

@keyframes come {
  100% {
    transform: translate(-35vw, 1vh);

  }
}



#first, #develperName {
  font-size: 150%;
}

#second {
  font-size: 300%;
}
.branch,.subjects{
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width:800px) {
  nav {
    width: 100vw;
    height: 7vh;
  }
  .content{
    flex-direction: column;
    width: auto;
  }
  .box{
    width: 100vw;
    height: 40vh;
  }
  .box .subjects li{
    width: 100vw;
  }
  
  
}
.aboutSite,.devs{
  color: white;
 
  
}
.deve{
  color: white;
}
button{
  width: 25vw;
  height: auto;
  padding: 5px;
  color: white;
  background-color: blueviolet;
  border-radius: 25px;
}